.body{
background-image:url(../resource/background.jpg)
}
.main{
background-color:#000000;
opacity:0.6;
width:70%;
height:600px;
margin-left:10%;
margin-top:10%;
}
.title{
margin-left:10%;
text-align:left;
color:#FFFFFF;
font: 20px  Arial, Helvetica, sans-serif;
}
.choice{
color:#000000;
border:2px solid #FFFFFF;
background:#FFFFFF;
opacity:1.0;
height:50px;
width:700px;
margin-left:10%;
border-radius:10px; 
}
input[type=button]{
border: solid 1px #FFFFFF;
color:#000000;
background:#FFFFFF;
padding:5px;
width:10%;
height:40px;
margin-left:10%;
opacity:0.6;
}
.message{
background:#FFFFFF;
text-align:left;
width:auto;
height:auto;
padding:5px;
margin-left:10%;
margin-top:10px;
}