.ctitle{
opacity:1;
color:#FFFFFF;
line-height:40px;
font-size:36px;
font-family:'Microsoft YaHei UI';
}
.ccontent{
opacity:1;
font-size:24px;
font-family:'Microsoft YaHei UI';
line-height:25px;
color:#FFFFFF;
}
.down{
opacity:1;
font-size:24px;
font-family:'Microsoft YaHei UI';
color:#FFFFFF;
line-height:40px;
margin-top:60px;
}
p{
	margin-top: 10px;
}