body{
	background-image: url(/img/mainPage.png);
	background-size:105%;

}
.title{
	background-image: url(/img/title.png);
	background-color: black;
	opacity: 0.68;
	z-index: 5;
	margin:0;
}
.black-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  z-index: 9998;//毛玻璃效果再议...
}
#text_frame {
  width: 520px;
  background: rgba(0,0,0,.3);
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -155px 0 0 -260px;
  text-align: center;
  padding: 30px 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  border-radius: 4px;
}
.ttitle{
background-color:#999999;
color:#FFFFFF;
width:80%;
height:10%;
border-radius:10px;
vertical-align:bottom;
font-size:18px;
}
.tcontent{
background:#999999;
margin-top:3%;
width:70%;
padding-left:5%;
padding-right:5%;
padding-bottom:1%;
padding-top:1%;
border-radius:10px;
}
#text_frame .tcontent span{
margin-right:10%;
}
#text_frame .tcontent select{
background-color:#999999;
color:#FFFFFF;
width:60px;
height:30px;
border-radius:5px;
}
#text_frame .tcontent textarea{
background:#FFFFFF;
width:90%;
height:200px;
text-align:left;
}
#text_frame .tcontent input[type=submit]{
color:#FFFFFF;
background-color:#0066FF;
border-radius:5px;
padding:5px 20px 5px 20px;
font-size:21.97px;
}
td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
