.message p {
width:auto;
}
.body {
background-image:url(/img/background.jpg);
background-size:105%;
}
.main {
color:#FFFFFF;
background-color:#000000;
opacity:0.6;
width:1000px;
height:600px;
margin-left:50px;
margin-top:100px;
padding:50px;
border-radius:10px;
}
.title {
text-align:left;
font-size:40px;
color:#FFFFFF;
padding:5px;
}
.choice {
color:#000000;
border:2px solid #FFFFFF;
background:#FFFFFF;
height:50px;
width:800px;
margin-top:10px;
padding-top:5px;
text-align:center;
border-radius:10px;
}
.choice input[type=button] {
font-size:22px;
font-weight:bolder;
border: solid 1px #FFFFFF;
color:#000000;
background:#FFFFFF;
padding:5px;
width:auto;
height:40px;
margin-left:5%;
margin-right:5%;
}
.message input[type=submit] {
color:#FFFFFF;
background:#000000;
padding:5px 20px 5px 20px;
width:auto;
height:40px;
margin-left:10px;
margin-right:20px;
border-radius:5px;
}
.message input[type=reset] {
color:#000000;
background:#FFFFFF;
padding:5px 20px 5px 20px;
width:auto;
height:40px;
opacity:0.6;
border-radius:5px;
}
.message input[type=text] {
border-style:solid;
border-color:#000000;
height:30px;
width:200px;
}
.message {
background:#FFFFFF;
color:#000000;
text-align:left;
width:400px;
height:auto;
padding:20px;
margin-top:70px;
}
