body  {
	font-family: Arial, Helvetica, sans-serif;
	background-image:url(/img/background.jpg);
}
div#left {
width:20%;
float:left;
padding-left:10%;
padding-right:10%;
}
div#img {
margin-top:30%;
}
div#name {
color:#FFFFFF;
background:#000000;
opacity:0.6;
border-radius:10px;
padding:5% 5% 5% 5%;
margin-bottom:10%;
}
div#name input[type=button] {
color:#FFFFFF;
border:2px solid #000000;
background:#000000;
opacity=0.6;
float:right;
}
.information {
background-color:#FFFFFF;
padding-left:5px;
padding-top:5px;
padding-bottom:5px;
padding-right:5px;
border-radius:10px;
margin-top:10px;
margin-bottom:10px;
opacity:0.6;
}
div#right {
width:60%;
height:80%;
float:left;
}
div#top {
height:500px;
width:80%;
margin-top:10%;
color:#FFFFFF;
background-color:#000000;
opacity:0.6;
padding-left:10px;
padding-top:5px;
padding-bottom:5px;
padding-right:5px;
border-radius:10px;
}
div#bottom {
margin-top:20px;
margin-left:70px;
margin-right:80px;
width:auto;
}
span li {
font-size:24px;
}
.time {
font-size:18px;
}
.new {
font-size:30px;
}
.choice {
float:right;
v}
.page {
background:#000000;
color:#FFFFFF;
border:2px solid #FFFFFF;
}
.page2 {
opacity:0.6;
}
.head1 {
height:80px;
width:80px;
border-radius:80px;
margin-right:40px;
margin-bottom:30px;
}
.head2 {
height:50px;
width:50px;
border-radius:50px;
margin-left:40px;
margin-right:40px;
margin-bottom:50px;
}
