body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Microsoft Ya Hei UI';
}

a {
  color: #00B7FF;
}

.avatar-sm {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.message-box {
  height: 200px;
  width: 800px;
}
