body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: 105%;
}

@media(max-width: 1366px) {
  body {
    background-size: auto 105%;
  }
}

a {
  color: #00B7FF;
}

.avatar-sm {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.message-box {
  height: 200px;
  width: 800px;
}
