<% include header %>
<link href="/css/contact.css" rel="stylesheet" type="text/css" />
   <div class="main">
      <div class="title"><p>联系我们</p></div>
	  <div class="content">
	  <p>微博公众号：wearesharer</p>
	  <p>官方微博：sharer 师焉</p>
	  <p>官方邮箱：wearesharer@163.com</p>
	  <p>联系电话：13706890911</p>
	  </div>
	  <div class="down"><p>如果您在使用中遇到任何不满的地方，您可以通过以上任意方式联系我们，我们会在下个工作日前回复您，期待您的宝贵意见。</p></div>
   </div>
<% include footer %>
