<div class="footer">
		<div class="publicColumn"><span>公告栏</span></div>
		<div class="footer_c">
			<ul>
				<li><a href="/security">安全中心</a></li>
				<li>注册协议</li>
				<li>免责声明</li>
				<li><a href="/contact">联系我们</a></li>
				<li>关注我们</li>
			</ul>
		</div>
	</div>
</body>
</html>
