<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/page.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/coffee-script/extras/coffee-script.js"></script>
</head>
<body class="body">
	<link href="/css/page.css" rel="stylesheet" type="text/css" />
	<div class="title">
		<div class="changeSchool">
			<span>浙江传媒学院</span>
			<img src="/img/trig2.png" class="sS"/>
			<div class="schSelect">
				<ul class="select">
					<li>更换学校</li>
				</ul>
			</div>
		</div>
		<div class="menu">
			<ul>
				<li><a href="/?direct=1">首页</a></li>
				<li><a href="/user">个人中心</a></li>
				<!--暂时没有
				<li ><a href="/?direct=3">消息</a></li>
				-->
			</ul>
		</div>
		<div class="searchBox">
			<img src="/img/q.png" style="width:20px; margin-top:5px; margin-bottom:-2px;" />
			<img src="/img/trig2.png" class="tS"/>
			<div class="typSelect">
				<ul class="select">
					<li style="opacity:0">QAQ</li>
					<li>帖子</li>
					<li>用户</li>
				</ul>
			</div> 
			<input type="searching" name="search" placeholder="搜索帖子、用户..." style="background-color:rgba(0,0,0,.8);border:none;">
			<button type="submit" class="btn_search" name="searchSth">搜索</button>
		</div>
	</div>
