<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/page.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/coffee-script/extras/coffee-script.js"></script>
</head>
<body class="body">
	<link href="/css/page.css" rel="stylesheet" type="text/css" />
	<div class="title">
		<div class="changeSchool">
			<span>浙江传媒学院</span>
		</div>
		<div class="menu">
			<ul>
				<li><a href="/?direct=1">首页</a></li>
				<li><a href="/?direct=2">个人中心</a></li>
				<li><a href="/?direct=3">消息</a></li>
			</ul>
		</div>
		<div class="searchBox">
			<div class="t_type"></div>
			<input type="searching" name="search" placeholder="搜索帖子、用户...">
			<button type="submit" class="btn_search" name="searchSth">搜索</button>
		</div>
	</div>