<% include header %>
	<link href="/css/post.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function openwin()
{
   document.getElementById("edit").style.display='block';
  // document.getElementById("main").style.display='none';
  document.getElementById("black-overlay").style.z-index="5";
  // document.getElementById("sidebar").style.display='none';
}
  function Lock_CheckForm(theForm)
{
   document.getElementById("edit").style.display='none';
  document.getElementById("black-overlay").style.display="none";
  return false;
}
</script>
	<div class="right">
		<div id="teachers" class="style1">
			<p>已有老师：</p>
			<div img="/img/add.png"></div>
		</div>
		<div id="mates" class="style1">
			<p>已有小伙伴：</p>
			<div img="/img/add.png"></div>
		</div>
		<div class="invite"><a>邀请用户</a></div>
	</div>
	<div class="post">
		<div id="author" class="tx"></div>
		<span id="post_place" class="padr"><%= post.address %></span>
		<div id="post_title" class="ptitle"><%= post.title %></div>
		<div id="post_content" class="pcontent"><%= post.content %></div>
		<div id="post_footer" class="pf">
			分享至：
			<img src="/img/t.png" href=""/>
			<img src="/img/f.png" href=""/>
			<img src="/img/g.png" href=""/>
			<img src="/img/p.png" href=""/>
			<img src="/img/idontknow.png" href=""/>
		</div>
	</div>
	<div class="reply">
		<div id="replier" class="tx"></div>
		<div id="reply_content" class="pcontent">回复内容......</div>
	</div>
<div class="edit" id="edit" style="display:none;z-index:10" >
          <div class="close"><input type="image"  src="/img/close.png" onclick="Lock_CheckForm(this)"/></div>
      <div class="atitle">
         回复帖子
         </div>
         <div class="content">
           <input type="image" src="/img/gragh.jpg" >
          <textarea type="text" name="content" class="edit_content" placeholder="输入内容"> </textarea>
        </div>
      <div style="height:30px"><button id="submit" class="btn" name="sbmt">发表</button> </div>
  </div>
<div class="black-overlay" style="display:none;z-index:8" id="black-overlay"></div>
<% include footer %>
