<% include header %>
	<link href="/css/post.css" rel="stylesheet" type="text/css" />
	<div class="right">
		<div id="teachers" class="style1">
			<p>已有老师：</p>
			<div img="/img/add.png"></div>
		</div>
		<div id="mates" class="style1">
			<p>已有小伙伴：</p>
			<div img="/img/add.png"></div>
		</div>
		<div class="invite"><a>邀请用户</a></div>
	</div>
	<div class="post">
		<div id="author" class="tx"></div>
		<span id="post_place" class="padr">桐乡</span>
		<div id="post_title" class="ptitle">帖子主题</div>
		<div id="post_content" class="pcontent">帖子内容......</div>
		<div id="post_footer" class="pf">
			分享至：
			<img src="/img/twitter.png" href=""/>
			<img src="/img/facebook.png" href=""/>
			<img src="/img/google+.png" href=""/>
			<img src="/img/qqweibo.png" href=""/>
			<img src="/img/idontknow.png" href=""/>
		</div>
	</div>
	<div class="reply">
		<div id="replier" class="tx"></div>
		<div id="reply_content" class="pcontent">回复内容......</div>
	</div>

	
	<div class="black-overlay">
		<div id="text_frame">
			<div class="ttitle">
		     	<p>回复帖子</p>
		   	</div>
		   	<div class="tcontent">
		      <p><span><input type="image" src="/img/gragh.jpg" /></span>
			  </p>
			  <p><textarea name="content" placeholder="输入内容"></textarea></p>
			  <p><input type="submit" value="发表"/></p>
		   </div>
		</div>
	</div>
<% include footer %>
