<% include header %>
<link href="/css/page.css" rel="stylesheet" type="text/css" />
	<div class="title">
		<div class="changeSchool">
			<span>浙江传媒学院</span>
		</div>
		<div class="menu">
			<ul>
				<li>首页</li>
				<li>个人中心</li>
				<li>消息</li>
			</ul>
		</div>
		<div class="searchBox">
			<div class="t_type"></div>
			<input type="searching" name="search" placeholder="搜索帖子、用户...">
			<button type="submit" class="btn_search" name="searchSth">搜索</button>
		</div>
	</div>
	<div class="post">
		<div id="author" class="tx"></div>
		<div id="post_title" class="ptitle">帖子主题<span id="post_place" float="right">桐乡</span></div>
		<div id="post_content" class="pcontent">帖子内容......</div>
		<div class="post_footer">
			分享至：
			<img src="/img/twitter.png" href=""/>
			<img src="/img/facebook.png" href=""/>
			<img src="/img/google+.png" href=""/>
			<img src="/img/qqweibo.png" href=""/>
			<img src="/img/idontknow.png" href=""/>
		</div>
	</div>
	<div class="reply">
		<div id="replier" class="tx"></div>
		<div id="reply_content" class="pcontent">回复内容......</div>
	</div>
	<div class="right">
		<div id="teachers" class="style1">
			<p>已有老师：</p>
			<div img="/img/add.png"></div>
		</div>
		<div id="mates" class="style1">
			<p>已有小伙伴：</p>
			<div img="/img/add.png"></div>
		</div>
		<div class="invite">邀请用户</div>
	</div>
	<div class="footer">
		<div class="publicColumn">公告栏</div>
		<div class="footer_c">
			<ul>
				<li>安全中心</li>
				<li>注册协议</li>
				<li>免责声明</li>
				<li>联系我们</li>
				<li>关注我们</li>
			</ul>
		</div>
	</div>
	<div class="black-overlay">
		<div id="text_frame">
			<div class="ttitle">
		     	<p>回复帖子</p>
		   	</div>
		   	<div class="tcontent">
		      <p><span><input type="image" src="/img/gragh.jpg" /></span>
			  </p>
			  <p><textarea name="content" placeholder="输入内容"></textarea></p>
			  <p><input type="submit" value="发表"/></p>
		   </div>
		</div>
	</div>
<% include footer %>
