<% include header %>
	<link href="/css/page.css" rel="stylesheet" type="text/css" />
	<link href="/css/ranklist.css" rel="stylesheet" type="text/css" />
	<div class="t_rank">
		<div class="rtitle">良师益友</div>
		<div class="rnum"> </div>
		<ul class="rtable">
			<li class="no1">
				<em class="num">1</em>
				<em class="rtx"></em>
				<em class="name">用户名</em>
				<em class="skill">主要技能概要</em>
			</li>
			<li class="no2">
				<em class="num">2</em>
				<em class="rtx"></em>
				<em class="name">用户名</em>
				<em class="skill">主要技能概要</em>
			</li>
			<li class="no3">
				<em class="num">3</em>
				<em class="rtx"></em>
				<em class="name">用户名</em>
				<em class="skill">主要技能概要</em>
			</li>
			<li class="no4">
				<em class="num">4</em>
				<em class="rtx"></em>
				<em class="name">用户名</em>
				<em class="skill">主要技能概要</em>
			</li>
			<li class="no5">
				<em class="num">5</em>
				<em class="rtx"></em>
				<em class="name">用户名</em>
				<em class="skill">主要技能概要</em>
			</li>
		</ul>
		<div class="paginator">
			<span class="thispage">1</span>
			<a href="">2</a>
			<a href="">3</a>
			<span>...</span>
			<a href="">下一页></a>
			<a href="">尾页</a>
		</div>
	</div>
<% include footer %>
