<% include header %>
	<link href="/css/page.css" rel="stylesheet" type="text/css" />
	<link href="/css/search_result.css" rel="stylesheet" type="text/css" />
	<div class="search_box">
		<div> <p>搜索结果</p></div>
		<span id="s_p" class="sb">帖子</span>
		<span id="s_u" class="sb">用户</span>
		<button>搜索</button>
	</div>
	<div class="search_result">
		<div class="s_scroll"></div>
		<div class="s_p">
			<div class="s_tx"></div>
			<div class="s_title">夜空中最亮的星</div>
			<div class="s_content">
				<p>导师：小伙伴：帖子：</p>
				<p>简介：</p>
				<p>标签：</p>
			</div>
			<div class="s_add">关注</div>
		</div>
	</div>
	<div class="history">
		<span>搜索历史</span>
		<span id="out"></span>
		<button id="clear">清除</button>
		<div id="h_content">
			<span>夜空中最亮的星</span>
		</div>
	</div>
<% include footer %>
