<% include header %>
	<link href="/css/page.css" rel="stylesheet" type="text/css" />
	<link href="/css/search_result.css" rel="stylesheet" type="text/css" />
	<div class="search_box">
		<div> <p>搜索结果</p></div>
		<span id="s_p" class="sb">帖子</span>
		<span id="s_u" class="sb">用户</span>
		<button>搜索</button>
	</div>
	<div class="search_result">
		<div class="s_scroll"></div>
		<div class="s_p">
			<div class="s_tx"></div>
			<div class="s_title">寻找死飞伙伴一名</div>
			<div class="s_content">寻找死飞小伙伴......</div>
			<div class="s_add"></div>
			<div class="s_action">
				<button id="comment">评论</button>
				<button id="collect">收藏</button>
			</div>
		</div>
	</div>
	<div class="history">
		<button id="clear">清除</button>
		<div id="h_content">
			<span>死飞</span>
		</div>
	</div>
<% include footer %>
