<% include header %>
<link href="/css/personal.css" rel="stylesheet" type="text/css">
    <div id="left">
		<div id="img">
		    <input type="image" src="/img/id.jpg" class="head1"/>
		</div>
		<div id="name">
			<span>夜空中最亮的胸毛</span><input type="button" value="设置" />
		</div>
		<div id="information">
		  <div id="skill" class="information"><p>技能标签</p></div>
			<div id="resume" class="information"><p>个人简历<br /><br /><br /><br /></p></div>
			<div id="telephone" class="information"><p>联系方式</p></div>
			<div id="activity" class="information"><p>参加活动数<br /><br /><br /><br /><br /></p></div>
		</div>
	</div>
	<div id="right">
	  <div id="top">
	    <p><span class="new">最新消息</span></p>
      <span>刚刚发布了。。。。。。</span>
			<span>刚刚加入了。。。。。。</span>
			<div id="page" class="choice">
			  <input type="button" value="1" class="page"/>
				<input type="button" value="2" class="page"/>
				<input type="button" value="3" class="page"/>
				 ......
				<input type="button" value="下一页>" class="page"/>
				<input type="button" value="尾页" class="page"/>
			</div>
		</div>
		<div id="bottom">
		     <input type="image" src="/img/left.jpg" class="page2"/>
			 <input type="image" src="/img/id.jpg" class="head2"/>
			 <input type="image" src="/img/id.jpg" class="head2"/>
			 <input type="image" src="/img/id.jpg" class="head2"/>
			 <input type="image" src="/img/id.jpg" class="head2"/>
			 <input type="image" src="/img/right.jpg" class="page2"/>
		</div>
	</div>
<% include footer %>
